html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
}

/* Body */

.body-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 20px;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    padding: 10px 25px 10px 10px;
    margin-top: 35px;
}

input {
    margin-bottom: 10px;
}

.next-button {
    width: fit-content;
    background-color: green;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color: white;
    margin: 10px 0px 10px 0px;
    box-shadow: 0px 1px 2px 0px black;
}

.file-upload-item {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px black;
    color: black;
}

.graph-container {
    display: flex;
    padding: 10px 10px 10px 25px;;
}

.faded {
    opacity: 0.3;
}

/* CodeMirror */

.codemirror-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.CodeMirror {
    border-radius: 5px;
    width: 400px;
}

.codeeditor-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.code-label {
    padding: 5px;
    border-bottom: 1px solid black;
    font-weight: 700;
}

/* Graph */

.whole-graph-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}